*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: linear-gradient(0deg, rgb(255, 255, 255) 75%, rgb(211, 211, 7));
    background-attachment: fixed;
}


.logo{
    width: 80px;
}

#container{
    float: left;
    background-color: rgb(51, 86, 182);
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 25px;
    margin: 30px 30px;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: scale(.7);
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    
}

#container.active .toggle{
    left: 20px;
}
body.active{
    background: linear-gradient(0deg, rgb(0, 0, 0) 75%, rgb(22, 46, 153));
    background-attachment: fixed;
    #container{
        background-color: rgb(211, 211, 7);
    }
    .toggle{
       background-color: rgb(255, 255, 255);
    }

    li a.active, li a:hover{
        background: #e5f086;
    }
    @media (max-width: 858px){
        ul{
            background-color: rgb(51, 86, 182);
        }
    }
    section{
        color: white;
    }
}


/*-------------------------------------------------------------*/


nav{
    width: 100%;
    height: 80px;
}

.enlace{
    position: absolute;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

li a.active, li a:hover{
    background: #869ef0;
    transition: .8s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 12px;
    }
    
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    #container{
        position: fixed;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#e5f086;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
            background: #869ef0;
            transition: .8s;
        
    }
    #check:checked ~ ul{
        left: 0px;
        }
    
}
